
  <div class="row">
          <div class="col s6 offset-s3 valign">
            <div class="card">
              <div class="card-image">
                <%= image_tag @creature.image %>
                <span class="card-title"><%= @creature.name %></span>
              </div>
              <div class="card-content">
                <p><%= @creature.description %></p>
              </div>
              <div class="card-action">
                <button class="btn"><%= link_to "Back", :back %></button>
                <button class="btn red"><%=link_to "DELETE", @creatures, method: :delete%></button>
                <button class="btn"><%= link_to "HOME", creatures_path%></button>
              </div>
            </div>
          </div>
        </div>
